name: Unit Test

on:
  push:
    branches: [master]
  pull_request:

jobs:
  speculos:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: make set-github-action
      # - run: make run-github-ci device=nanos path=nanos
      - run: make run-github-ci device=nanosp path=nanosplus
      - run: make run-github-ci device=nanox path=nanox
      # - run: make run-github-ci device=stax path=stax
      - run: make run-github-ci device=flex path=flex
